.App {
  text-align: center;
}


@font-face {
  font-family: 'attack';
  src: local('aAttackGraffiti'), url(./fonts/aAttackGraffiti.ttf) format('woff');
  /* other formats include: 'woff2', 'truetype, 'opentype',
                            'embedded-opentype', and 'svg' */
}